<h1>New Employee</h1>

<%= form_with scope: :employee, url: employees_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :surname %><br>
    <%= form.text_field :surname %>
  </p>

  <p>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.label :pictureUrl %><br>
    <%= form.text_field :pictureUrl %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
